.setting-modal {
  position: absolute;
  z-index: 10;
  border: 1px solid #ccc;
  background: white;
  width: 30% !important;
  height: 30% !important;
  top: 30%;
  left: 35%;
  color: black;
}

.setting-modal-header {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 15%;
  border-bottom: solid #eee;
}

.setting-modal-header .icon-close {
  width: 20px;
  height: 9px;
  cursor: pointer;
  background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAASCAYAAACJgPRIAAAAUElEQVR42pWQMQoAIAwD++d+x8HJbyoOWXJDSSBgwpVS62vtc8ulXg/ZAZkFMycNoBJgXoUcX1cm9N1NSL0esgMyC2ZOGkAlwLwKObhu/qcHp/zWImEdH8EAAAAASUVORK5CYII=') no-repeat;
}

.setting-modal-body {
  height: 54%;
  padding: 10px;
}
  
.setting-modal-footer {
  height: 10%;
  border-top: solid #eee;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 7px;
}

.setting-modal-footer button {
  padding: 0 10px;
  margin-right: 10px;
  font-size: 15px;
  height: 30px;
  cursor: pointer;
}